/*------------------------------------------------------------------
[Table of contents]
1. 	
------------------------*/

/*----------------
[Styles for devices(>1400px)]
*/
@media (min-width: 768px) {
	.sidebar-collapse .main-header .logo {
	    width: 50px;
	}
	.sidebar-collapse .main-header .logo>.logo-mini {
	    display: block;
	    margin-left: -15px;
	    margin-right: -15px;
	    font-size: 18px;
	}
	.sidebar-collapse .main-header .navbar {
	    margin-left: 50px;
	}
	#search {
	    display: none;
	}
	.form-select {
	    display: block;
	}
	nav .form-group:nth-child(1), nav .form-group:nth-child(2), nav .form-group:nth-child(3) {
	    width: 23%;
	}
	.btn-search-min {
	    display: none;
	}
	.sidebar-mini.sidebar-collapse .main-sidebar {
	    -webkit-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	    -o-transform: translate(0, 0);
	    transform: translate(0, 0);
	    width: 50px !important;
	    z-index: 850;
	}
	.sidebar-mini.sidebar-collapse .main-sidebar .user-panel>.info, .sidebar-mini.sidebar-collapse .sidebar-form, .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>span, .sidebar-mini.sidebar-collapse .sidebar-menu>li>.treeview-menu, .sidebar-mini.sidebar-collapse .sidebar-menu>li>a>.pull-right, .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
	    display: none !important;
	    -webkit-transform: translateZ(0);
	}
	.sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer {
	    margin-left: 50px !important;
	    z-index: 840;
	}
	.sidebar-mini.sidebar-collapse .sidebar-menu>li {
	    position: relative;
	}
}

@media (max-width: 767px) {
	.main-header {
	    position: relative;
	}
	.main-header .logo, .main-header .navbar {
	    width: 100%;
	    float: none;
	}
	.main-header .navbar {
	    margin: 0;
	}
	#search {
	    display: block;
	    top: 48px;
	    right: 5px !important;
	    z-index: 1001;
	    position: absolute;
	}
	.form-select {
	    display: none;
	    height: auto;
	}
	.main-sidebar, .left-side {
	    padding-top: 60px;
	}
	.main-sidebar, .left-side {
	    -webkit-transform: translate(-230px, 0);
	    -ms-transform: translate(-230px, 0);
	    -o-transform: translate(-230px, 0);
	    transform: translate(-230px, 0);
	}
	.sidebar-mini .main-sidebar, .sidebar-mini .left-side {
	    -webkit-transform: translate(0, 0);
	    -ms-transform: translate(0, 0);
	    -o-transform: translate(0, 0);
	    transform: translate(0, 0);
	}
	.content-wrapper, .right-side, .main-footer {
	    margin-left: 0;
	}
	.sidebar-mini .content-wrapper, .sidebar-mini .right-side, .sidebar-mini .main-footer {
	    -webkit-transform: translate(230px, 0);
	    -ms-transform: translate(230px, 0);
	    -o-transform: translate(230px, 0);
	    transform: translate(230px, 0);
	}
	
}